{% comment %} sections/main-password.liquid {% endcomment %}
<div class="password-page">
  <h1>{{ shop.name }}</h1>
  <p>{{ 'general.password_page.opening_soon' | t }}</p>
  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password">{{ 'general.password_page.password_label' | t }}</label>
    <input type="password" name="password" id="password">
    <button type="submit" class="btn btn--primary">{{ 'general.password_page.submit' | t }}</button>
  {% endform %}
</div>

{% schema %}
{
  "name": "Password",
  "settings": [],
  "presets": []
}
{% endschema %}
